<section class="login-section position-relative vh-100">
  <div class="container">
    <h1> Sign In </h1>
    <%= form_with url: sign_in_path do |form|%>

      <div class="col-3 mb-3">
        <%= form. label :email %>
        <%=form.text_field :email, class: "form-control", placeholder: "steve@apple.com"%>
      </div>
      <div class="col-3 mb-3">
        <%= form. label :password %>
        <%=form.text_field :password, class: "form-control", placeholder: "password"%>
      </div>
    <div class=" mb-3">
      <%= form.submit "Sign in"%>				<p>Don't have an Account? <a href="/sign_up"> sign up Now!</a></p>
    </div>
    <%end%>
  </div>
</section>  