<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You got a new email from <%= Current.user.email %>!</p>
    <p>
    Leave Application<br>
    --------------------------
    </p>
    <p>Email: <%= @leave.email %></p>
    <p>
    Reason For Leave:<%=@leave.reason%><br>
    From:<%=@leave.start_at%><br>
    To:<%=@leave.end_at%><br>
      
    </p>
    <p><%= @leave.reason %></p>
  </body>
</html>